%scroller {
  ::-webkit-scrollbar {
    width: 11px;
    height: 11px;
  }

  ::-webkit-scrollbar-track {
    background: $dark-gray;
    border-radius: 0;
  }

  ::-webkit-scrollbar-thumb {
    background: $red;
    border-radius: 0;
  }
}